<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="_customConverisonTaux">
    <th mat-header-cell *matHeaderCellDef>Fix Taux</th>
    <td mat-cell *matCellDef="let element">
      {{ element._customConverisonTaux }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="_conversionTaux">
    <th mat-header-cell *matHeaderCellDef>Real Taux</th>
    <td mat-cell *matCellDef="let element">{{ element.conversionTaux }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="_entryAmount">
    <th mat-header-cell *matHeaderCellDef>Entry Amount</th>
    <td mat-cell *matCellDef="let element">
      {{ element.entryAmount + " " + element.entryAmountCurrency }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="_convertedAmount">
    <th mat-header-cell *matHeaderCellDef>Converted Amount</th>
    <td mat-cell *matCellDef="let element">
      {{ element.convertedAmount + " " + element.convertedAmountCurrency }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
